:root {
    --background-body: #ccc;

    --background-yellow: #ffa600;

    --background-inactive-purple: #58508d;
    --background-purple: #9086b9;
    --background-light-purple: #c9c0e7;

    --background-default: #003F5C;
    --background-active-default: #305D7A;

    --panel-blue1: #a7d6f5a8;
    --panel-blue2: #9cc3dc;
    --panel-blue3: #789fba;
    --panel-blue4: #547e9a;

    --panel-white: #fff;
    --panel-default: #f7f7f7;
    --panel-purple: #c9c0e7;
}