*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.altura-conteiners{
	min-height: 300px;
	max-height: 500px;
}
.rolagem{
	overflow-y: auto;
}


#funcionalidades > div:last-child{
	background-color: red;
}


#div-relatorios{
	background-color: lightgrey;

	height: 500px;
}


.novidades{
	background-color: grey;
}
.logo-empresa{
	width: 100%;
}