body{
    background-color: lightgoldenrodyellow;
}
.cadastro-superior{
    background-color: lightblue;
    border-radius: 5px;

    height: 350px;
}
.cadastro-inferior{
    background-color: lightblue;
    border-radius: 5px;

    height: 250px;
}