:root {
    --background-yellow: #ffa600;
    --background-active-blue: #58508d;
    --background-blue: #9086b9;
    --background-default: #ccc;
    --background-active-default: #eee;

    --panel-blue: #789fba;
    --panel-white: #fffff;
    --panel-default: #f7f7f7;
}