.estilo_botao {
    color: #fff;
    font-weight: bold;

    background-color: var(--background-default);
}
.estilo_botao:hover {
    background-color: var(--background-active-default);
    color: #fff;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}