* {
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lato', Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

h1 {
    font-size:2rem; /* 32px no padrão*/
}

h2 {
    font-size:1.75rem; /* 28px */
}

h3 {
    font-size:1.5rem; /* 24px*/
}

h4 {
    font-size:1.25rem; /* 20px */
}

h5 {
    font-size:1rem; /* 16 px */
}

h6 {
    font-size:0.875rem; /* 14px*/
}

p {
    font-size: 1rem;
    letter-spacing: .02rem;
    font-family: 'Lato', Roboto, sans-serif;
}

.date-desc {
    font-family: Roboto;
    font-size: small;
}