@import url(./utils/variables.css);

@import url(./base/reset.css);
@import url(./base/typography.css);

@import url(./components/panel.css);
@import url(./components/buttons.css);

.cores {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.amarelo {
    background-color: var(--background-yellow);
}
.azul-ativo {
    background-color: var(--background-active-blue);
}
.azul-inativo {
    background-color: var(--background-inactive-blue);
}

