@import url(./utils/variables.css);

@import url(./base/reset.css);

@import url(./base/typography.css);

@import url(./components/panel.css);
@import url(./components/buttons.css);
@import url(./components/icons.css);
@import url(./components/inputs.css);
@import url(./components/meter.css);



.cores {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.amarelo {
    background-color: var(--background-yellow);
}

.cinza{
    background-color: var(--background-default);
}

/* DIVS PRINCIPAIS */
.azul{
    background-color: var(--background-blue);
}

/* BODYS */
.branco{
    background-color: var(--background-active-default);
}