.btn {
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    margin: 10px 5px;
}

.btn-success {
    background-color: var(--background-inactive-purple);
    color:#fff;
}
.btn-success:hover {
    background-color: var(--background-purple);
}

.btn-default {
    background-color: var(--background-default);
}

.btn-default:hover {
    background-color: var(--background-active-default);
}